*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#heure{
    font-size: 8rem;
    text-align: center;
    margin-bottom: 20px;
    /* margin-top: 20vh; */
}

#conteneur_compteur{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(62, 119, 121);
    border-top: 1px solid rgb(211, 211, 211);
    width: 40vw;
    padding-top: 20px;

}
#compteur_pour_choix{
    display: flex;
    margin: 10px;
}
#conteneur_compteur input{
   height: 20px;
}
#ajouter_alarme{
    margin-bottom: 50px;
}

.compteur{
    /* background-color: aquamarine; */
    width: 120px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
#alarmes_crees{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alarme_origine_dur{
    margin-bottom: 10px;
}
.decompte{
    font-size: 0.72rem;
    color: blue;
}



.compteur img{
    display: block;
    width: 15px;
    height: 15px;
    /* background-color: rgb(236, 255, 127) */


}
.compteur p{

font-size: 2rem;
/* background-color: rgb(255, 127, 180); */


}


.alarme_check{
    font-size: 3rem;
    color: red;
}
.animate__animated.animate__flash {
    animation-iteration-count: infinite;
  }


 .message_cache{
     display: none;
 }
 .message_apparait{
     display: block;
 }



 #alarme_sonne{
    font-size: 4rem;
    color: red;
    text-align: center;
 }
 #message_alarme{
     text-align: center;
     margin-bottom: 50px;
 }




 